body{
  background:
}

.category {
        text-align: center;
        font-size: 200%;
        padding: 0.5em;
        margin-bottom: 0.2em;
}

.luxury {
        background-color: orange;
}

.unfulfilling{
        background-color: lavender;
}

.hidden{
        display: none;
}
.categories{
        text-align: center;
        font-size: 200%;
        padding: 0.5em;
        margin-bottom: 0.2em;
}

p{
        font-size: 15px;
}
.lluxury{
        background-color: lightblue;
}
.wants{
        background-color: lightblue;
}
.needs{
        background-color: lightblue;
}
.heading{
        font-size: 70px;
        text-align: center;
        padding-top: 1em;
        /*padding-bottom: 2em;*/
}
.paragraph{
        margin: 0.2em;
}

.goBack{
        width: 100px;
        height: 3em;
        background-color: slategrey;
}
.hide{
  display: none;
}
.show{
  display: block;
}
