body{
  background-color: #FF1493;
}

.category {
        text-align: center;
        font-size: 200%;
        padding: 0.5em;
        margin-bottom: 0.2em;
}

.luxury {

}

.unfulfilling{
        background-color: lavender;
}

.hidden{
        display: none;
}

.categories{
        text-align: center;
        font-size: 200%;
        padding: 0.5em;
        margin-bottom: 0.2em;
}

.selected{
  background-color: grey;
}

p{
        font-size: 15px;
}
.luxury{
        background-color:  #00BFFF;
}
.wants{
        background-color:  #00BFFF;
}
.needs{
        background-color:  #00BFFF;
}
.heading{
        font-size: 70px;
        text-align: center;
        padding-top: 1em;
        /*padding-bottom: 2em;*/
}
.paragraph{
        margin: 0.2em;
}

.goBack{
        width: 100px;
        height: 3em;
}
.hide{
  display: none;
}

.show{
  display: block;
}
