body{
  background:
}

.category {
        text-align: center;
        font-size: 200%;
        padding: 0.5em;
        margin-bottom: 0.2em;
}

.luxury {
        background-color: orange;
}

.unfulfilling{
        background-color: lavender;
}

.hidden{
        display: none;
}
.categories{
        text-align: center;
        font-size: 200%;
        padding: 0.5em;
        margin-bottom: 0.2em;
}


.goBack{
        width: 100px;
        height: 3em;
        background-color: slategrey;
}
